.bar {
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1fr;
    background-color:rgb(234, 228, 228);
    border-radius: 5px;
}

.bar a {
    text-decoration: none;
}

.option {
    padding: 15px 10px;
    list-style: none;
}

.option:hover {
    color:mintcream;
}